<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Missions</title>
    <link rel="stylesheet" href="../public/css/all-missions.css">
</head>

<body>
    <div id="all-missions-wrapper">
        <div class="description">
            <p class="description__name">Name</p>
            <p class="description__date">Date Created</p>
        </div>
        <!-- <div class="mission-container">
            <img class="mission-image" src="../public/images/report.jpg" alt="Report Image">
            <div class="mission-details">
                <p class="mission-name">Mission Name</p>
                <p class="mission-date"> Mar 20, 2019 at 3:50PM</p>
            </div>
        </div> -->
    </div>
    <script src="../public/javascript/all-missions.js"></script>
</body>

</html>