<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission Planner</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/recents.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/mapbox-gl.css">
    <link rel="stylesheet" type="text/css" href="../public/css/mapbox-gl-draw.css">
    <link rel="stylesheet" type="text/css" href="../public/css/mission.css">
    <link rel="stylesheet" type="text/css" href="../public/css/live-video.css">
    <link rel="stylesheet" type="text/css" href="../public/css/materialize/css/materialize.min.css">
</head>

<body>
    <header id="main-header">
        <input type="search" placeholder="Search Mission">
    </header>
    <main id="grid">
        <div id="left-side-container">
            <p>Favorites</p>
            <a href="#" class="recents link"><i class="recents material-icons">date_range</i> Recents</a>
            <a href="#" class="all-missions link"><i class="all-missions material-icons">archive</i>Missions</a>
            <a href="#" class="by-date link"><i class="by-date material-icons">filter_list</i> By Date</a>
            <a href="#" class="delete link"><i class="delete material-icons">delete</i> Delete</a>
            <!-- <a href="#" class="all-reports link"><i class="all-reports material-icons">library_books</i> All Reports</a>
            <a href="#" class="all-videos link"><i class="all-videos material-icons">ondemand_video</i> All Videos</a> -->
            <a href="#visited" class="live-video link"><i class="live-video material-icons">ondemand_video</i> Live
                Video</a>

        </div>
        <div id="right-side-container">
            <div id="right-side-container__results">

            </div>
        </div>
    </main>
    <script src="../public/javascript/jquery-3.3.1.js"></script>
    <script src="../public/javascript/main.js"></script>
    <script src="../public/javascript/all-missions.js"></script>
    <script src="../public/javascript/recents.js"></script>
    <script src="../public/javascript/mapbox-gl.js"></script>
    <script src="../public/javascript/mapbox-gl-draw.js"></script>
    <script src="../public/javascript/mission.js"></script>
    <script src="../public/javascript/live-video.js"></script>
    <script src="../public/css/materialize/js/materialize.min.js"></script>


</body>

</html>