<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OSM Bright - TileServer GL</title>
  

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
 

  <!-- <a href="#" class="target inputType"><i class="target inputType material-icons">add_location</i>Target</a>
  <a href="#" class="nofly inputType"><i class="nofly inputType material-icons">add_location</i>No-Fly</a>
  <a href="#" class="restricted inputType"><i class="restricted inputType material-icons">add_location</i>Restricted</a> -->

  <div id="map" class="mapboxgl-map">
    <button id="currentLocation" onclick="setZone('start')">Ground Station</button>
    <button id="target" onclick="setZone('target')">Area of Interest</button>
    <button id="nofly" onclick="setZone('nofly')">No-Fly</button>
    <button id="restricted" onclick="setZone('restricted')">Restricted</button>
    <button id="generatePath" onclick="getPoints()">Generate Path</button>
    

    <div class="mapboxgl-canvas-container mapboxgl-interactive mapboxgl-touch-drag-pan mapboxgl-touch-zoom-rotate"><canvas
        class="mapboxgl-canvas" tabindex="0" aria-label="Map" width="992" height="1394" style="position: absolute; width: 496px; height: 697px;"></canvas></div>
    <div class="mapboxgl-control-container">
      <div class="mapboxgl-ctrl-top-left"></div>
      <div class="mapboxgl-ctrl-top-right">
        <!-- <div class="mapboxgl-ctrl mapboxgl-ctrl-group"><button class="mapboxgl-ctrl-icon mapboxgl-ctrl-zoom-in" type="button"
            aria-label="Zoom In"></button><button class="mapboxgl-ctrl-icon mapboxgl-ctrl-zoom-out" type="button"
            aria-label="Zoom Out"></button><button class="mapboxgl-ctrl-icon mapboxgl-ctrl-compass" type="button"
            aria-label="Reset North"><span class="mapboxgl-ctrl-compass-arrow" style="transform: rotate(0deg);"></span></button></div>
      </div> -->
      <div class="mapboxgl-ctrl-bottom-left">
        <div class="mapboxgl-ctrl" style="display: none;"><a class="mapboxgl-ctrl-logo" target="_blank" href="https://www.mapbox.com/"
            aria-label="Mapbox logo"></a></div>
      </div>
      <div class="mapboxgl-ctrl-bottom-right">
        <div class="mapboxgl-ctrl mapboxgl-ctrl-attrib mapboxgl-compact"><a href="http://www.openmaptiles.org/" target="_blank">©
            OpenMapTiles</a> <a href="http://www.openstreetmap.org/about/" target="_blank">© OpenStreetMap contributors</a></div>
      </div>
    </div>
  </div>

  

  <!-- <link rel="stylesheet" type="text/css" href="../public/css/mapbox-gl.css">
  <link rel="stylesheet" type="text/css" href="../public/css/mapbox-gl-draw.css">
  <link rel="stylesheet" type="text/css" href="../public/css/mission.css"> -->

  <!-- <script src="/Users/Isaac/Desktop/test/jquery-3.3.1.js"></script>
  <script src="mapbox-gl.js"></script>
  <script src="mapbox-gl-draw.js"></script>
  <script src="mission.js"></script> -->
  <!-- <script src="http://localhost:8080/mapbox.js"></script>
  <script src="http://localhost:8080/leaflet-hash.js"></script> -->
  


</body>

</html>