<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_003{font-family:Arial,serif;font-size:30.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:30.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:18.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:18.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:14.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:14.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:14.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:14.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_014{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_014{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_015{font-family:Arial,serif;font-size:12.1px;color:rgb(17,84,204);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_015{font-family:Arial,serif;font-size:12.1px;color:rgb(17,84,204);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Courier New,serif;font-size:12.1px;color:rgb(86,156,213);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_010{font-family:Courier New,serif;font-size:12.1px;color:rgb(86,156,213);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:Courier New,serif;font-size:12.1px;color:rgb(212,212,212);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_011{font-family:Courier New,serif;font-size:12.1px;color:rgb(212,212,212);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_012{font-family:Courier New,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_012{font-family:Courier New,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_013{font-family:Courier New,serif;font-size:12.1px;color:rgb(205,144,120);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_013{font-family:Courier New,serif;font-size:12.1px;color:rgb(205,144,120);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="user_manual_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="user_manual_files/background01.jpg" width=612 height=792></div>
<div style="position:absolute;left:99.00px;top:323.25px" class="cls_003"><span class="cls_003">User Manual for UAV Rescue</span></div>
<div style="position:absolute;left:252.00px;top:359.25px" class="cls_003"><span class="cls_003">System</span></div>
<div style="position:absolute;left:72.00px;top:426.75px" class="cls_002"><span class="cls_002">Team Members:</span></div>
<div style="position:absolute;left:108.00px;top:449.25px" class="cls_002"><span class="cls_002">Evan Weiler</span></div>
<div style="position:absolute;left:108.00px;top:471.75px" class="cls_002"><span class="cls_002">Brady Phu Bui</span></div>
<div style="position:absolute;left:108.00px;top:494.25px" class="cls_002"><span class="cls_002">Isaac Fimbres</span></div>
<div style="position:absolute;left:108.00px;top:516.75px" class="cls_002"><span class="cls_002">Emanuel Inacio</span></div>
<div style="position:absolute;left:108.00px;top:539.25px" class="cls_002"><span class="cls_002">Abdalmohsen Mutlaq Al Qahtani</span></div>
<div style="position:absolute;left:72.00px;top:584.25px" class="cls_002"><span class="cls_002">Sponsor:</span></div>
<div style="position:absolute;left:108.00px;top:606.75px" class="cls_002"><span class="cls_002">Mark Meadows</span></div>
<div style="position:absolute;left:108.00px;top:629.25px" class="cls_002"><span class="cls_002">Brent McFarland</span></div>
<div style="position:absolute;left:72.00px;top:674.25px" class="cls_002"><span class="cls_002">Mentor:</span></div>
<div style="position:absolute;left:108.00px;top:696.75px" class="cls_002"><span class="cls_002">Michael Jelinek</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:802px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="user_manual_files/background02.jpg" width=612 height=792></div>
<div style="position:absolute;left:72.00px;top:71.25px" class="cls_004"><span class="cls_004">Materials Needed</span></div>
<div style="position:absolute;left:90.00px;top:96.00px" class="cls_002"><span class="cls_002">●</span></div>
<div style="position:absolute;left:108.00px;top:96.00px" class="cls_002"><span class="cls_002">1 Dell Laptop with MavProxy, Mission Planner, Socet GXP Software installed</span></div>
<div style="position:absolute;left:90.00px;top:112.50px" class="cls_002"><span class="cls_002">●</span></div>
<div style="position:absolute;left:108.00px;top:112.50px" class="cls_002"><span class="cls_002">2 fully assembled UAVs</span></div>
<div style="position:absolute;left:90.00px;top:129.00px" class="cls_002"><span class="cls_002">●</span></div>
<div style="position:absolute;left:108.00px;top:129.00px" class="cls_002"><span class="cls_002">1 Multi-Battery charger for both UAV batteries</span></div>
<div style="position:absolute;left:90.00px;top:145.50px" class="cls_002"><span class="cls_002">●</span></div>
<div style="position:absolute;left:108.00px;top:145.50px" class="cls_002"><span class="cls_002">2 UAV remotes</span></div>
<div style="position:absolute;left:90.00px;top:162.00px" class="cls_002"><span class="cls_002">●</span></div>
<div style="position:absolute;left:108.00px;top:162.00px" class="cls_002"><span class="cls_002">2 FPV Radio Telemetry Ground Modules</span></div>
<div style="position:absolute;left:90.00px;top:178.50px" class="cls_002"><span class="cls_002">●</span></div>
<div style="position:absolute;left:108.00px;top:178.50px" class="cls_002"><span class="cls_002">1 FPV A/V Receiver</span></div>
<div style="position:absolute;left:90.00px;top:195.00px" class="cls_002"><span class="cls_002">●</span></div>
<div style="position:absolute;left:108.00px;top:195.00px" class="cls_002"><span class="cls_002">1 ImmersionRC Uno5800 5.8GHz V4 A/V Receiver</span></div>
<div style="position:absolute;left:90.00px;top:211.50px" class="cls_002"><span class="cls_002">●</span></div>
<div style="position:absolute;left:108.00px;top:211.50px" class="cls_002"><span class="cls_002">1 EasyCAP AV to USB video converter</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:1604px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="user_manual_files/background03.jpg" width=612 height=792></div>
<div style="position:absolute;left:72.00px;top:96.00px" class="cls_004"><span class="cls_004">UAV and System Assembly</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:2406px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="user_manual_files/background04.jpg" width=612 height=792></div>
<div style="position:absolute;left:72.00px;top:71.25px" class="cls_004"><span class="cls_004">Step 1: Setup</span></div>
<div style="position:absolute;left:108.00px;top:96.00px" class="cls_005"><span class="cls_005">1.1</span></div>
<div style="position:absolute;left:144.00px;top:96.00px" class="cls_002"><span class="cls_002">Plug FPV Radio Telemetry Ground Module and EasyCAP into laptop</span></div>
<div style="position:absolute;left:108.00px;top:112.50px" class="cls_005"><span class="cls_005">1.2</span></div>
<div style="position:absolute;left:144.00px;top:112.50px" class="cls_002"><span class="cls_002">Make sure the correct COM ports are set in the “mission.js” file. Current</span></div>
<div style="position:absolute;left:108.00px;top:129.00px" class="cls_002"><span class="cls_002">COM for ports can be viewed in the Windows Device Manager</span></div>
<div style="position:absolute;left:108.00px;top:145.50px" class="cls_005"><span class="cls_005">1.3</span></div>
<div style="position:absolute;left:144.00px;top:145.50px" class="cls_002"><span class="cls_002">Open a command window and navigate to main directory of software</span></div>
<div style="position:absolute;left:108.00px;top:162.00px" class="cls_005"><span class="cls_005">1.4</span></div>
<div style="position:absolute;left:144.00px;top:162.00px" class="cls_002"><span class="cls_002">Run “tileserver-gl-light &lt;map tile file>” to start map server</span></div>
<div style="position:absolute;left:108.00px;top:178.50px" class="cls_005"><span class="cls_005">1.5</span></div>
<div style="position:absolute;left:144.00px;top:178.50px" class="cls_002"><span class="cls_002">Open another command window and run “npm start” to start software</span></div>
<div style="position:absolute;left:108.00px;top:379.50px" class="cls_005"><span class="cls_005">1.6</span></div>
<div style="position:absolute;left:147.33px;top:379.50px" class="cls_002"><span class="cls_002">Plug battery into UAV</span></div>
<div style="position:absolute;left:108.00px;top:396.00px" class="cls_005"><span class="cls_005">1.7</span></div>
<div style="position:absolute;left:147.33px;top:396.00px" class="cls_002"><span class="cls_002">Disengage safety switch (will be secured on the side of one of the landing</span></div>
<div style="position:absolute;left:108.00px;top:412.50px" class="cls_002"><span class="cls_002">gears) to allow UAV flight</span></div>
<div style="position:absolute;left:108.00px;top:429.00px" class="cls_005"><span class="cls_005">1.8</span></div>
<div style="position:absolute;left:147.33px;top:429.00px" class="cls_002"><span class="cls_002">Wait for startup beeps to complete</span></div>
<div style="position:absolute;left:72.00px;top:462.00px" class="cls_004"><span class="cls_004">Step 2: Flight Path Creation</span></div>
<div style="position:absolute;left:108.00px;top:486.75px" class="cls_005"><span class="cls_005">2.1</span></div>
<div style="position:absolute;left:144.00px;top:486.75px" class="cls_002"><span class="cls_002">Select “File” in the menu, then “New Mission”. After hitting proceed a</span></div>
<div style="position:absolute;left:108.00px;top:503.25px" class="cls_002"><span class="cls_002">connection to the drones will be initiated</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:3208px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="user_manual_files/background05.jpg" width=612 height=792></div>
<div style="position:absolute;left:108.00px;top:71.25px" class="cls_005"><span class="cls_005">2.2</span></div>
<div style="position:absolute;left:144.00px;top:71.25px" class="cls_002"><span class="cls_002">Enter locations of ground station and area of interest location by clicking</span></div>
<div style="position:absolute;left:108.00px;top:87.75px" class="cls_002"><span class="cls_002">on their respective buttons and placing a pin.</span></div>
<div style="position:absolute;left:108.00px;top:104.25px" class="cls_005"><span class="cls_005">2.3</span></div>
<div style="position:absolute;left:144.00px;top:104.25px" class="cls_002"><span class="cls_002">To enter restricted and no-fly zones, first click on the polygon button</span></div>
<div style="position:absolute;left:108.00px;top:120.75px" class="cls_002"><span class="cls_002">circled below in red. Click on the map to set points of the polygon, then press</span></div>
<div style="position:absolute;left:108.00px;top:137.25px" class="cls_002"><span class="cls_002">enter once the points are set. Once a shape is created, click on the no-fly or</span></div>
<div style="position:absolute;left:108.00px;top:153.75px" class="cls_002"><span class="cls_002">restricted button to set its type. (NOTE: zones are not automatically expanded,</span></div>
<div style="position:absolute;left:108.00px;top:170.25px" class="cls_002"><span class="cls_002">so a user must manually create larger zones to ensure drones don’t fly 10 ft</span></div>
<div style="position:absolute;left:108.00px;top:186.75px" class="cls_002"><span class="cls_002">within a no-fly zone.)</span></div>
<div style="position:absolute;left:108.00px;top:374.25px" class="cls_005"><span class="cls_005">2.4</span></div>
<div style="position:absolute;left:144.00px;top:374.25px" class="cls_002"><span class="cls_002">Click “Generate Path” to create optimal flight path. Click “Start Drone1”</span></div>
<div style="position:absolute;left:108.00px;top:390.75px" class="cls_002"><span class="cls_002">and “Start Drone2” to send the waypoints to the respective drones.</span></div>
<div style="position:absolute;left:108.00px;top:407.25px" class="cls_005"><span class="cls_005">2.5</span></div>
<div style="position:absolute;left:144.00px;top:407.25px" class="cls_002"><span class="cls_002">Start drone flight manually with remotes</span></div>
<div style="position:absolute;left:144.00px;top:423.75px" class="cls_005"><span class="cls_005">2.5.1</span><span class="cls_002">  Turn on Remote (Possible at any point prior to arming the UAVs)</span></div>
<div style="position:absolute;left:144.00px;top:440.25px" class="cls_005"><span class="cls_005">2.5.2</span></div>
<div style="position:absolute;left:180.00px;top:440.25px" class="cls_002"><span class="cls_002">Arming the UAV</span></div>
<div style="position:absolute;left:162.00px;top:457.01px" class="cls_006"><span class="cls_006">○</span><span class="cls_007"> ON THE REMOTE</span></div>
<div style="position:absolute;left:180.00px;top:631.50px" class="cls_005"><span class="cls_005">2.5.3</span></div>
<div style="position:absolute;left:219.33px;top:631.50px" class="cls_002"><span class="cls_002">Turn VRB Dial (Top right Silver Dial) all the way to the left</span></div>
<div style="position:absolute;left:180.00px;top:648.00px" class="cls_002"><span class="cls_002">(counterclockwise)</span></div>
<div style="position:absolute;left:180.00px;top:664.50px" class="cls_005"><span class="cls_005">2.5.4</span></div>
<div style="position:absolute;left:219.33px;top:664.50px" class="cls_002"><span class="cls_002">Then to arm UAV, take both Flight Sticks and push down</span></div>
<div style="position:absolute;left:180.00px;top:681.00px" class="cls_002"><span class="cls_002">and toward the middle of the remote and </span><span class="cls_014">hold until propellers start</span></div>
<div style="position:absolute;left:180.00px;top:697.50px" class="cls_014"><span class="cls_014">spinning</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:4010px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="user_manual_files/background06.jpg" width=612 height=792></div>
<div style="position:absolute;left:180.00px;top:71.25px" class="cls_005"><span class="cls_005">2.5.5</span></div>
<div style="position:absolute;left:219.33px;top:71.25px" class="cls_002"><span class="cls_002">Quickly, turn VRB Dial into the shaded area (indicated on</span></div>
<div style="position:absolute;left:180.00px;top:87.75px" class="cls_002"><span class="cls_002">the remote)</span></div>
<div style="position:absolute;left:180.00px;top:104.25px" class="cls_005"><span class="cls_005">2.5.6</span><span class="cls_002">   Quickly, take left flight stick past half throttle</span></div>
<div style="position:absolute;left:180.00px;top:120.75px" class="cls_005"><span class="cls_005">2.5.7</span></div>
<div style="position:absolute;left:219.33px;top:120.75px" class="cls_002"><span class="cls_002">Repeat process for 2nd UAV with 2nd ArduPilot window</span></div>
<div style="position:absolute;left:180.00px;top:137.25px" class="cls_002"><span class="cls_002">open</span></div>
<div style="position:absolute;left:180.00px;top:153.75px" class="cls_005"><span class="cls_005">2.5.8   </span><span class="cls_002">UAVs will now take off and follow their automated mission</span></div>
<div style="position:absolute;left:108.00px;top:170.51px" class="cls_007"><span class="cls_007">NOTE: HOW TO DISARM (at end of flight after UAVs have</span></div>
<div style="position:absolute;left:108.00px;top:190.01px" class="cls_007"><span class="cls_007">landed)</span></div>
<div style="position:absolute;left:126.00px;top:209.25px" class="cls_002"><span class="cls_002">●  Take both flight sticks and push them down and out. Hold until blades</span></div>
<div style="position:absolute;left:144.00px;top:225.75px" class="cls_002"><span class="cls_002">have stopped spinning.</span></div>
<div style="position:absolute;left:72.00px;top:487.50px" class="cls_004"><span class="cls_004">Step 3: UAV Flight</span></div>
<div style="position:absolute;left:108.00px;top:512.25px" class="cls_005"><span class="cls_005">3.1</span></div>
<div style="position:absolute;left:147.33px;top:512.25px" class="cls_002"><span class="cls_002">After path creation, it will take about 30 seconds for the path to be</span></div>
<div style="position:absolute;left:108.00px;top:528.75px" class="cls_002"><span class="cls_002">uploaded to the UAVs</span></div>
<div style="position:absolute;left:108.00px;top:545.25px" class="cls_005"><span class="cls_005">3.2</span></div>
<div style="position:absolute;left:147.33px;top:539.25px" class="cls_002"><span class="cls_002">UAVs will take off and begin the flight to the destination</span></div>
<div style="position:absolute;left:108.00px;top:561.75px" class="cls_005"><span class="cls_005">3.3</span></div>
<div style="position:absolute;left:147.33px;top:561.75px" class="cls_002"><span class="cls_002">Upon arrival, UAVs will enter into a hover for 20 seconds. Drone 1 will be</span></div>
<div style="position:absolute;left:108.00px;top:578.25px" class="cls_002"><span class="cls_002">hovering at 30 ft while Drone 2 will be hovering at 40 ft</span></div>
<div style="position:absolute;left:72.00px;top:619.50px" class="cls_004"><span class="cls_004">Step 4: Data Acquisition</span></div>
<div style="position:absolute;left:108.00px;top:644.25px" class="cls_005"><span class="cls_005">4.1</span></div>
<div style="position:absolute;left:144.00px;top:644.25px" class="cls_002"><span class="cls_002">After starting a mission, click “Live Video” on the sidebar to show the video</span></div>
<div style="position:absolute;left:108.00px;top:660.75px" class="cls_002"><span class="cls_002">feed. Telemetry data for both drones will also be displayed.</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:4812px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="user_manual_files/background07.jpg" width=612 height=792></div>
<div style="position:absolute;left:108.00px;top:257.25px" class="cls_005"><span class="cls_005">4.2</span></div>
<div style="position:absolute;left:144.00px;top:257.25px" class="cls_002"><span class="cls_002">Click “Report” once the drones reach the area of interest to generate a</span></div>
<div style="position:absolute;left:108.00px;top:273.75px" class="cls_002"><span class="cls_002">report with the current telemetry data. In SOCET GXP, Select “Products” then</span></div>
<div style="position:absolute;left:108.00px;top:290.25px" class="cls_002"><span class="cls_002">“PowerPoint” to open and save the report in Microsoft PowerPoint.</span></div>
<div style="position:absolute;left:72.00px;top:450.75px" class="cls_004"><span class="cls_004">Step 5: UAVs Return</span></div>
<div style="position:absolute;left:108.00px;top:475.50px" class="cls_005"><span class="cls_005">5.1</span></div>
<div style="position:absolute;left:144.00px;top:475.50px" class="cls_002"><span class="cls_002">Once all waypoints have been reached (or the UAVs run low on battery)</span></div>
<div style="position:absolute;left:108.00px;top:492.00px" class="cls_002"><span class="cls_002">the UAVs will return to their starting point</span></div>
<div style="position:absolute;left:108.00px;top:508.50px" class="cls_005"><span class="cls_005">5.2</span></div>
<div style="position:absolute;left:144.00px;top:508.50px" class="cls_002"><span class="cls_002">Click “Save Mission” on the sidebar to save the mission data to AWS.</span></div>
<div style="position:absolute;left:72.00px;top:541.50px" class="cls_004"><span class="cls_004">Step 6: AWS Retrieval</span></div>
<div style="position:absolute;left:108.00px;top:566.25px" class="cls_002"><span class="cls_002">There are two ways to retrieve data from AWS;  by using the search field on the</span></div>
<div style="position:absolute;left:108.00px;top:582.75px" class="cls_002"><span class="cls_002">top-right corner or by using the option “All Missions” on the left-side menu bar.</span></div>
<div style="position:absolute;left:108.00px;top:615.75px" class="cls_005"><span class="cls_005">6.1 - Retrieve a mission by using the search field:</span></div>
<div style="position:absolute;left:144.00px;top:632.25px" class="cls_002"><span class="cls_002">6.1.1 - On the search field, type the full name of a mission or type one or</span></div>
<div style="position:absolute;left:108.00px;top:648.75px" class="cls_002"><span class="cls_002">more letters that the mission to search starts with, which will display a popover</span></div>
<div style="position:absolute;left:108.00px;top:665.25px" class="cls_002"><span class="cls_002">with all missions that start with the letter or the world that was typed</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:5614px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="user_manual_files/background08.jpg" width=612 height=792></div>
<div style="position:absolute;left:108.00px;top:349.50px" class="cls_002"><span class="cls_002">6.1.2 - On the search results popover, click on the name of the mission you want</span></div>
<div style="position:absolute;left:108.00px;top:366.00px" class="cls_002"><span class="cls_002">to view, which will show the mission data</span></div>
<div style="position:absolute;left:138.01px;top:674.25px" class="cls_002"><span class="cls_002">Fig: 1 Viewing mission data after clicking on the name of the mission on the</span></div>
<div style="position:absolute;left:108.00px;top:690.75px" class="cls_002"><span class="cls_002">popover results</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:6416px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="user_manual_files/background09.jpg" width=612 height=792></div>
<div style="position:absolute;left:111.33px;top:71.25px" class="cls_002"><span class="cls_002">6.1.3 - Single click on the image or video you want to view or watch</span></div>
<div style="position:absolute;left:144.00px;top:366.00px" class="cls_002"><span class="cls_002">Fig.1 : viewing an image</span></div>
<div style="position:absolute;left:144.00px;top:680.51px" class="cls_008"><span class="cls_008">Fig.2 : Watching  a video. Hovering or clicking on a video, will display the video</span></div>
<div style="position:absolute;left:72.00px;top:695.51px" class="cls_008"><span class="cls_008">controls. You can maximize the video to occupy the full screen if needed.</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:7218px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="user_manual_files/background10.jpg" width=612 height=792></div>
<div style="position:absolute;left:108.00px;top:71.25px" class="cls_002"><span class="cls_002">6.1.4 - To view mission telemetry, droneInput, drone1 or drone2 content, click on</span></div>
<div style="position:absolute;left:72.00px;top:87.75px" class="cls_002"><span class="cls_002">telemetry.json, droneInput.json, drone1.txt or drone2.txt respectively. Doing so will</span></div>
<div style="position:absolute;left:72.00px;top:104.25px" class="cls_002"><span class="cls_002">immediately download the corresponding file in the download directory/folder of your</span></div>
<div style="position:absolute;left:72.00px;top:120.75px" class="cls_002"><span class="cls_002">laptop/computer. When the file finishes downloading, a toast message saying “Finished</span></div>
<div style="position:absolute;left:72.00px;top:137.25px" class="cls_002"><span class="cls_002">Download” will be displayed on the bottom-left corner.</span></div>
<div style="position:absolute;left:105.34px;top:186.75px" class="cls_005"><span class="cls_005">6.2 - Retrieve a mission by using the option “All Missions” on the left-side</span></div>
<div style="position:absolute;left:72.00px;top:203.25px" class="cls_005"><span class="cls_005">menu bar.</span></div>
<div style="position:absolute;left:102.01px;top:219.75px" class="cls_002"><span class="cls_002">6.2.1 - Click on “All Missions” on the left-side menu bar, which will display the</span></div>
<div style="position:absolute;left:72.00px;top:236.25px" class="cls_002"><span class="cls_002">following screen:</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:8020px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="user_manual_files/background11.jpg" width=612 height=792></div>
<div style="position:absolute;left:115.04px;top:71.25px" class="cls_002"><span class="cls_002">6.2.2 - Click on the mission you want to view. This will display the mission data</span></div>
<div style="position:absolute;left:111.33px;top:381.00px" class="cls_002"><span class="cls_002">6.2.3 - Single click on the image or video you want to view or watch</span></div>
<div style="position:absolute;left:114.76px;top:691.76px" class="cls_008"><span class="cls_008">Fig 3: Viewing an image</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:8822px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="user_manual_files/background12.jpg" width=612 height=792></div>
<div style="position:absolute;left:118.68px;top:403.76px" class="cls_008"><span class="cls_008">Fig.2 : Watching  a video. Hovering or clicking on a video, will display the video</span></div>
<div style="position:absolute;left:72.00px;top:419.51px" class="cls_008"><span class="cls_008">controls. You can maximize the video to occupy the full screen if needed.</span></div>
<div style="position:absolute;left:118.68px;top:450.75px" class="cls_002"><span class="cls_002">6.1.4 - To view mission telemetry, droneInput, drone1 or drone2 content, click</span></div>
<div style="position:absolute;left:72.00px;top:467.25px" class="cls_002"><span class="cls_002">on telemetry.json, droneInput.json, drone1.txt or drone2.txt respectively. Doing so will</span></div>
<div style="position:absolute;left:72.00px;top:483.75px" class="cls_002"><span class="cls_002">immediately download the corresponding file in the download directory/folder of your</span></div>
<div style="position:absolute;left:72.00px;top:500.25px" class="cls_002"><span class="cls_002">laptop/computer. When the file finishes downloading, a toast message saying “Finished</span></div>
<div style="position:absolute;left:72.00px;top:516.75px" class="cls_002"><span class="cls_002">Download” will be displayed on the bottom-left corner.</span></div>
<div style="position:absolute;left:72.00px;top:566.25px" class="cls_004"><span class="cls_004">Step 7: Developer Notes</span></div>
<div style="position:absolute;left:108.00px;top:591.00px" class="cls_005"><span class="cls_005">7.1</span></div>
<div style="position:absolute;left:144.00px;top:591.00px" class="cls_002"><span class="cls_002">The Visual Studio Project for SOCET GXP integration is located in the</span></div>
<div style="position:absolute;left:108.00px;top:607.50px" class="cls_002"><span class="cls_002">“Image Loader” example in the SOCET GXP 4.3.0 DevKit. Anytime changes are</span></div>
<div style="position:absolute;left:108.00px;top:624.00px" class="cls_002"><span class="cls_002">made, the code must be rebuilt and the resulting .exe must be placed in the bin</span></div>
<div style="position:absolute;left:108.00px;top:640.50px" class="cls_002"><span class="cls_002">directory of the SOCET GXP 4.3.0 installation (Refer to live-video.js for the exact</span></div>
<div style="position:absolute;left:108.00px;top:657.00px" class="cls_002"><span class="cls_002">path)</span></div>
<div style="position:absolute;left:108.00px;top:673.50px" class="cls_005"><span class="cls_005">7.2</span></div>
<div style="position:absolute;left:144.00px;top:673.50px" class="cls_002"><span class="cls_002">Anytime changes are made to the A star algorithm code, code must be</span></div>
<div style="position:absolute;left:108.00px;top:690.00px" class="cls_002"><span class="cls_002">rebuilt with visual studio as well.</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:9624px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="user_manual_files/background13.jpg" width=612 height=792></div>
<div style="position:absolute;left:108.00px;top:71.25px" class="cls_005"><span class="cls_005">7.3 </span><span class="cls_002">AWS credentials may need to be updated in order for aws part of the</span></div>
<div style="position:absolute;left:108.00px;top:87.75px" class="cls_002"><span class="cls_002">software to work</span></div>
<div style="position:absolute;left:144.00px;top:104.25px" class="cls_002"><span class="cls_002">Connecting to AWS requires an ACCESS_KEY_ID and a</span></div>
<div style="position:absolute;left:108.00px;top:120.75px" class="cls_002"><span class="cls_002">SECRET_ACCESS_KEY which can be obtained for free on aws website. To get</span></div>
<div style="position:absolute;left:108.00px;top:137.25px" class="cls_002"><span class="cls_002">these credentials, follow the following steps:</span></div>
<div style="position:absolute;left:144.00px;top:153.75px" class="cls_002"><span class="cls_002">7.3.1 - Go to aws website (</span><A HREF="https://aws.amazon.com/">https://aws.amazon.com</A>) to create a new AWS</div>
<div style="position:absolute;left:108.00px;top:170.25px" class="cls_002"><span class="cls_002">account.</span></div>
<div style="position:absolute;left:144.00px;top:186.75px" class="cls_002"><span class="cls_002">7.3.2 - Once the account is created, sign in to the console by going to</span></div>
<div style="position:absolute;left:108.00px;top:203.25px" class="cls_002"><span class="cls_002">(</span><A HREF="https://aws.amazon.com/console/">https://aws.amazon.com/console/</A> </span><span class="cls_002">) and click on “Sign In to the Console” on the</span></div>
<div style="position:absolute;left:108.00px;top:219.75px" class="cls_002"><span class="cls_002">top-right corner. Then enter your account  email and password that you just</span></div>
<div style="position:absolute;left:108.00px;top:236.25px" class="cls_002"><span class="cls_002">created.Once you’re signed in, you’ll be taken to your console where you can</span></div>
<div style="position:absolute;left:108.00px;top:252.75px" class="cls_002"><span class="cls_002">manage your aws account</span></div>
<div style="position:absolute;left:144.00px;top:269.25px" class="cls_002"><span class="cls_002">7.3.3 - Click on “Services” on the top-left corner. This will open a</span></div>
<div style="position:absolute;left:108.00px;top:285.75px" class="cls_002"><span class="cls_002">dropdown menu page with several options. On the center of this menu, there is a</span></div>
<div style="position:absolute;left:108.00px;top:302.25px" class="cls_002"><span class="cls_002">search field. Type “IAM” and click on enter. This will take you to your IAM</span></div>
<div style="position:absolute;left:108.00px;top:318.75px" class="cls_002"><span class="cls_002">management page.</span></div>
<div style="position:absolute;left:144.00px;top:335.25px" class="cls_002"><span class="cls_002">7.3.4 - On the center of IAM page, click on “Delete your root access key”</span></div>
<div style="position:absolute;left:108.00px;top:351.75px" class="cls_002"><span class="cls_002">or “create your root access key” depending on which option will be available for</span></div>
<div style="position:absolute;left:108.00px;top:368.25px" class="cls_002"><span class="cls_002">you. This will open a dropdown with the option “Manage Security Credentials”.</span></div>
<div style="position:absolute;left:108.00px;top:384.75px" class="cls_002"><span class="cls_002">Click on this optio, which will prompt you with two options- “Continue to Security</span></div>
<div style="position:absolute;left:108.00px;top:401.25px" class="cls_002"><span class="cls_002">Credentials” and “Get Started with IAM users”. Chose “Continue to Security</span></div>
<div style="position:absolute;left:108.00px;top:417.75px" class="cls_002"><span class="cls_002">Credentials”.</span></div>
<div style="position:absolute;left:144.00px;top:434.25px" class="cls_002"><span class="cls_002">7.3.5 - Click on “Access Keys (access key ID and Secret access key)”</span></div>
<div style="position:absolute;left:108.00px;top:450.75px" class="cls_002"><span class="cls_002">option and follow instructions to create a new access key and secret access key.</span></div>
<div style="position:absolute;left:144.00px;top:467.25px" class="cls_002"><span class="cls_002">7.3.6 - Once you’re done creating access key and secret access key, you</span></div>
<div style="position:absolute;left:108.00px;top:483.75px" class="cls_002"><span class="cls_002">will have to change the application credentials on three files on the code, namely</span></div>
<div style="position:absolute;left:108.00px;top:500.25px" class="cls_002"><span class="cls_002">“./controllers/save-mission.js”, “./public/javascript/search-box-results.js” and</span></div>
<div style="position:absolute;left:108.00px;top:516.75px" class="cls_002"><span class="cls_002">“./public/javascript/all-missions.js”. The location in the code where you have to</span></div>
<div style="position:absolute;left:108.00px;top:533.25px" class="cls_002"><span class="cls_002">change the application credentials is on top of those files where you have:</span></div>
<div style="position:absolute;left:144.00px;top:566.25px" class="cls_010"><span class="cls_010">const</span><span class="cls_011"> </span><span class="cls_012">ACCESS_KEY_ID </span><span class="cls_011">= </span><span class="cls_013">"ACCESS_KEY_ID"</span><span class="cls_011">;</span></div>
<div style="position:absolute;left:144.00px;top:588.00px" class="cls_010"><span class="cls_010">const</span><span class="cls_011"> </span><span class="cls_012">SECRET_ACCESS_KEY</span><span class="cls_011"> = </span><span class="cls_013">"SECRET_ACCESS_KEY "</span><span class="cls_011">;</span></div>
<div style="position:absolute;left:144.00px;top:631.50px" class="cls_002"><span class="cls_002">7.3.7 - Replace and “ACCESS_KEY_ID and SECRET_ACCESS_KEY on</span></div>
<div style="position:absolute;left:108.00px;top:653.25px" class="cls_002"><span class="cls_002">the right with the ones you just created and this should make AWS to work with</span></div>
<div style="position:absolute;left:108.00px;top:675.00px" class="cls_002"><span class="cls_002">the new credentials</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:10426px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="user_manual_files/background14.jpg" width=612 height=792></div>
<div style="position:absolute;left:144.00px;top:71.25px" class="cls_002"><span class="cls_002">7.3.8 - One finals step will be creating a bucket and then replacing the</span></div>
<div style="position:absolute;left:108.00px;top:93.00px" class="cls_002"><span class="cls_002">bucket-name in those three files with the new bucket-name you just created.</span></div>
<div style="position:absolute;left:108.00px;top:114.75px" class="cls_002"><span class="cls_002">Instructions on how to create a bucket can be found on:</span></div>
<div style="position:absolute;left:108.00px;top:136.50px" class="cls_002"><span class="cls_002">(</span><A HREF="https://docs.aws.amazon.com/quickstarts/latest/s3backup/step-1-create-bucket.html">https://docs.aws.amazon.com/quickstarts/latest/s3backup/step-1-create-bucket.</A> </span></div>
<div style="position:absolute;left:108.00px;top:158.25px" class="cls_015"><span class="cls_015"> </span><A HREF="https://docs.aws.amazon.com/quickstarts/latest/s3backup/step-1-create-bucket.html">html</A> <span class="cls_002">)</span></div>
<div style="position:absolute;left:144.00px;top:180.00px" class="cls_002"><span class="cls_002">The location where to replace the bucket-name is:</span></div>
<div style="position:absolute;left:144.00px;top:201.75px" class="cls_010"><span class="cls_010">var</span><span class="cls_011"> </span><span class="cls_012">bucketParams</span><span class="cls_011"> = {</span></div>
<div style="position:absolute;left:165.60px;top:223.50px" class="cls_012"><span class="cls_012">Bucket:</span><span class="cls_011"> </span><span class="cls_013">"bae-systems-mp"</span></div>
<div style="position:absolute;left:151.20px;top:245.25px" class="cls_011"><span class="cls_011">};</span></div>
<div style="position:absolute;left:144.00px;top:267.00px" class="cls_002"><span class="cls_002">7.3.9 - Replace “bae-systems-mp” with the new bucket name you just</span></div>
<div style="position:absolute;left:108.00px;top:288.75px" class="cls_002"><span class="cls_002">created and the app should be all ready to go.</span></div>
</div>

</body>
</html>
